.cart {
  flex: 1;
  height: 80vh;
}

.cartItems {
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: scroll;

  .item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin-bottom: 1rem;

    .imgProduct {
      width: 120px;
      border: 1px solid #000;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
    }

    .productInfo {
      padding: .5rem;
      width: 100%;

      .nameProduct {
        font-weight: 700;
        margin: 0 0 1rem 0;
        font-size: .7rem;
      }

      .price {
        margin: 0;
        font-size: 0.8rem;
      }

      .oldPrice {
        @extend .price;
        font-weight: 200;
      }
    }
  }
}

.checkout {
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;

  .result {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-top: 1px solid #000;
  }

  .discount {
    font-weight: 700;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #106e26;
    border-radius: 10px;
    text-align: center;
    padding: 0.3rem 0;
    margin: 1rem 0;
    p {
      font-size: .7rem;
      margin: 0;
    }
  }
}
