.reactSwitchCheckbox {
  height: 0;
  width: 0;
  display: none;
}

.reactSwitchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 50px;
  position: absolute;
  top: .8rem;
  right: .8rem;
  transition: background-color .1s;

  .reactSwitchButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    transition: 0.1s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
}

.reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background-color: #14712a;
}

.reactSwitchLabel:active .reactSwitchButton {
  width: 30px;
}