.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 96vh;

  .title {
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #000;
    flex: 0 0 auto;
  }

  button{
    flex: 0 0 auto;
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 10px;
    border: 1px solid lighten(#007bff, 30%);
  }
}
